/* *{
    outline: 1px solid black;
} */
body{
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    backdrop-filter: blur(3px);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1080px;
    gap: 10px;
    align-items: stretch;
  }
  
  .field {
    width: 100%;
    flex: 1;
    max-width: 600px;
    height: auto;
    max-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
 
  .left-navigation, .right-navigation {
    position: relative;
    flex: 0.25;
    height: auto;
    max-height: 450px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;


  }


.start{
  border-radius: 20px;
  border-color: #FFFFFF;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: 	#e0930d;
  background-color: rgb(178, 243, 157);
  transition: .5s all;
  outline: none;
  user-select: none;
  width: 90%;
  max-width: 100px;
  height: auto;
  font-size: calc(7px + 1vw);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start:hover {
  background-color: rgb(44, 139, 12);
  color: 	#ffffff;
  cursor: pointer;
}

@media (hover: none) and (pointer: coarse) {
  .start:hover {
    background-color: rgb(178, 243, 157);
    color: 	#e0930d;
  }
}


  .blinker {
    animation: blink 0.9s infinite;
  }
  .glow {
    filter: drop-shadow(2px 0px 2px yellow)
  }

  svg{
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .field {
    /* height: 90vh; */
  }
}


  /* @media (max-height: 800px) {
    .field {
      width: 470px;
      height: 400px;
    }
    svg {
      width: 470px;
      height: 400px;
    }
  } */



  /* @media only screen and (min-width: 600px) {
    .orientation-warning{
      display: none;
    }
  }


  @media only screen and (max-width: 600px) and (orientation: portrait) {
    .orientation-warning {
      display: block;
    }
    .container{
      display: none;
    }
  } */

  @keyframes blink {
    0% { fill-opacity: 1; }
    25% { fill-opacity: 0.5; }
    50% { fill-opacity: 0; }
    75% { fill-opacity: 0.5; }
    100% { fill-opacity: 1; }
  }


  .motionTrees1 {
    animation: motionTree1 2s steps(4) infinite;
  }
  .motionTrees2 {
    animation: motionTree2 1.5s steps(4) infinite;
  }
  .motionTrees3 {
    animation: motionTree3 2s steps(4) infinite;
  }
  .motionTrees4 {
    animation: motionTree4 1s steps(4) infinite;
  }

   @keyframes motionTree1 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.01) rotate(1deg); }
    50% { transform: scale(1.02) rotate(3deg); }
    75% { transform: scale(1.01) rotate(2deg); }
    100% { transform: scale(1) rotate(0deg); }
  }
  @keyframes motionTree2 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(0.99) rotate(1deg); }
    50% { transform: scale(0.98) rotate(4deg); }
    75% { transform: scale(0.99) rotate(2deg); }
    100% { transform: scale(1) rotate(-1deg); }
  }
  @keyframes motionTree3 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.01) rotate(-1deg); }
    50% { transform: scale(1.02) rotate(-4deg); }
    75% { transform: scale(1.01) rotate(-2deg); }
    100% { transform: scale(1) rotate(0deg); }
  }
  @keyframes motionTree4 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(0.99) rotate(-1deg); }
    50% { transform: scale(0.97) rotate(-3deg); }
    75% { transform: scale(0.99) rotate(-2deg); }
    100% { transform: scale(1) rotate(0deg); }
  }
  
  
#activeArea{
  position: relative;
  z-index: 20;
}





  /* .img-container {
    width: 50px; 
    height: 50px;
    position: absolute;
    background: url('../assets/treesSpriteTest.png') 0 0 no-repeat;
    background-size: cover;
    animation: spriteAnimationTree 1s steps(7) infinite;
    top: 0;
    left: 0;
  }
  
  
  @keyframes spriteAnimationTree {
      from { background: url('../assets/treesSpriteTest.png') 0 0; }
      to { background: url('../assets/treesSpriteTest.png') 0 -145px; }
  }
   */

/* 
   .img-container {
    width: 50px;
    height: 50px;
    position: absolute;
    background: url('../assets/treesSpriteTest.png') no-repeat;
    background-size: 50px 200px;
    animation: spriteAnimationTree 1s steps(2) infinite;
    top: 0;
    left: 0;
  } */
  
  /* @keyframes spriteAnimationTree {
    0% { background-position: 0 0; }
    25% { background-position: 0 -65px; }
    50% { background-position: 0 -130px; }
    75% { background-position: 0 -65px; }
    100% { background-position: 0 -145px; }
  }
   */


  
  /* @keyframes motionTree {
    0% { transform: translateY(-12px); }
    50% { transform: translateY(-276px); }
    100% { transform: translateY(-12px); }
  }
   */