/* *{
    outline: 1px solid black;
} */
/* :root {
  --field-height: 80vh;
  --menu-width: 33vw;
} */

/* ==================================================== */

body{
    background-image: url(../assets/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(3px);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-menu{
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.start-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 80vw;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33vw;
  margin-bottom: 30px;
  outline: none;
  user-select: none;
}
.logo{
  max-width: 100%;
}




.menu-btn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 100%;
  width: 33vw;
}

.container {
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1080px;
    gap: 10px;
    align-items: stretch;
    transition: .5s all;
    margin: 10px;
    max-height: 78vh;
  }

.layout{
  display: none;
  max-width: 700px;
  max-height: 600px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 2s all;
  pointer-events: none;
  z-index: 1;
  position: absolute;
}

  .menu-btn{
    border-radius: 10px;
    border: 2px solid #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: 	#5c490e;
    background-color: #daf2b5;
    transition: .5s all;
    outline: none;
    user-select: none;
    width: 90%;
    max-width: 60%;
    height: auto;
    font-size: calc(4px + 0.8vw);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .game-btn{
    border-radius: 10px;
    border: 2px solid #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: 	#5c490e;
    background-color: #daf2b5;
    transition: .5s all;
    outline: none;
    user-select: none;
    width: 90%;
    max-width: 90%;
    height: auto;
    font-size: calc(6px + 0.8vw);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-btn:hover, .game-btn:hover {
    background-color: rgb(184, 167, 11);
    color: 	#ffffff;
    cursor: pointer;
  }

  .duplicate {
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: greenColor;
    transition: .5s all;
    cursor: pointer;
    
  }

  .duplicate:hover {
    border: 2px solid #98FB98
  }


  
  @media (hover: none) and (pointer: coarse) {
    .menu-btn:hover {
      background-color: rgb(178, 243, 157);
      color: 	#e0930d;
    }
    .tl-btn:hover {
      background-color: green;
      color: white;
    }
  }
  

.menu-timer{
  height: auto;
  width: 90%;
  text-align: center;
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
  .field {
    width: 100%;
    flex: 1;
    max-width: 57vw;
    height: auto;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
 
  .left-navigation, .right-navigation {
    position: relative;
    flex: 0.25;
    height: auto;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
  }

  .evacuator-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 20px;
  }
  .evacuator-block-image {
    width: 50px;
    position: absolute;
    z-index: 10;
  }

  .arrow{
    position: absolute;
    top: 15px;
    display: none;
  }

  .backTimer{
    position: absolute;
    top: 25px;
    height: 3px;
    width: 25px;
    border: 1px solid black;
    display: none;
  }

  .backTimer span {
    width: 0%;
    background-color: green;
    transition: .3s ease-in;

  }

  @keyframes fillTimer {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  
  .fill-timer {
    animation: fillTimer 2500ms forwards;
  }

  .moveArrow{
    animation: animateArrow .8s infinite;
  }
  
  
  @keyframes animateArrow {
    0% { transform: translate(0, 0px); }
    50% { transform:  translate(0, 4px); }
    100% { transform: translate(0, 8px); }
  }


  .blinker {
    animation: blink 0.9s infinite;
  }
  .glow {
    filter: drop-shadow(2px 0px 2px yellow)
  }

  .mainSVG {
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}




  @keyframes blink {
    0% { fill-opacity: 1; }
    25% { fill-opacity: 0.5; }
    50% { fill-opacity: 0; }
    75% { fill-opacity: 0.5; }
    100% { fill-opacity: 1; }
  }


  .motionTrees1 {
    animation: motionTree1 2s steps(4) infinite;
  }
  .motionTrees2 {
    animation: motionTree2 1.5s steps(4) infinite;
  }
  .motionTrees3 {
    animation: motionTree3 2s steps(4) infinite;
  }
  .motionTrees4 {
    animation: motionTree4 1s steps(4) infinite;
  }

   @keyframes motionTree1 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.01) rotate(1deg); }
    50% { transform: scale(1.02) rotate(3deg); }
    75% { transform: scale(1.01) rotate(2deg); }
    100% { transform: scale(1) rotate(0deg); }
  }
  @keyframes motionTree2 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(0.99) rotate(1deg); }
    50% { transform: scale(0.98) rotate(4deg); }
    75% { transform: scale(0.99) rotate(2deg); }
    100% { transform: scale(1) rotate(-1deg); }
  }
  @keyframes motionTree3 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.01) rotate(-1deg); }
    50% { transform: scale(1.02) rotate(-4deg); }
    75% { transform: scale(1.01) rotate(-2deg); }
    100% { transform: scale(1) rotate(0deg); }
  }
  @keyframes motionTree4 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(0.99) rotate(-1deg); }
    50% { transform: scale(0.97) rotate(-3deg); }
    75% { transform: scale(0.99) rotate(-2deg); }
    100% { transform: scale(1) rotate(0deg); }
  }


.orientation-warning{
  display: none;
}


.rules, .records, .end-game {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.rules-container, .records-container, .end-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 2px solid white;
  padding: 20px;
}
.rules-content, .records-content, .end-content {
  color: #5c490e;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.back {
  width: 150px;
  max-width: 100%;
}

.records-title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(16px + 1vw);
  text-align: center;
}

.records-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.records-container{
  justify-content: center;
  gap: 20px;
  width: 80%;
}
.records-number{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.end-game {
  position: absolute;
  z-index: 10;
  transition: 1s all;

}

.end-container {
  background-color: rgba(255, 255, 255, 1);
  transition: 1s all;
}

@media (hover: none) and (pointer: coarse) {
  .container {
    width: 80%;
    margin-bottom: 30px;
  }
}




@media(max-width: 950px) and (orientation: portrait) {
  .logo-container {
    width: 50vw;
  }

  .menu-btn-container{
    width: 50vw;
  }
  .menu-btn{
    max-width: 60%;
    font-size: calc(7px + 0.8vw);
  }
  
  .left-navigation, .right-navigation {
    flex: 0.25;
    height: auto;
    max-width: 120px;
    padding: 5px;
    gap: 5px;
  }
  .game-btn{
    width: 80%;
    font-size: calc(6px + 0.8vw);
    padding: 10px;
  }
}

@media(max-width: 768px) and (orientation: portrait) {
  .logo-container {
    width: 40vw;
  }
  .menu-btn-container{
    width: 40vw;
  }
  .menu-btn{
    max-width: 70%;
  }
  .left-navigation, .right-navigation {
    flex: 0.25;
    height: auto;
    max-width: 80px;
    padding: 2px;
    gap: 0px;
  }
  .game-btn{
    width: 80%;
    font-size: calc(6px + 0.8vw);
    padding: 10px;
  }
  .field {
    max-width: 66vw;
  }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .field {
    max-width: 60vw;
    max-height: 77vh;
  }
  .left-navigation, .right-navigation {
    flex: 0.25;
    height: auto;
    max-width: 140px;
    padding: 5px;
    gap: 0px;
  }
  .game-btn{
    width: 90%;
    font-size: calc(6px + 0.8vw);
    padding: 10px;
  }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
  .field {
    max-width: 45vw;
    max-height: 76vh;
  }
  .left-navigation, .right-navigation {
    max-width: 120px;
  }

}


@media only screen and (max-width: 768px) and (orientation: landscape) {
  .field {
    max-width: 48vw;
    max-height: 78vh;
  }
  .left-navigation, .right-navigation {
    flex: 0.25;
    height: auto;
    max-width: 100px;
    padding: 5px;
    gap: 0px;
  }
  .game-btn{
    width: 90%;
    font-size: calc(6px + 0.8vw);
    padding: 10px;
  }
}

@media(max-width: 630px)  and (orientation: portrait) {

  .logo-container {
    width: 50vw;
    margin-bottom: 15px;
  }

  .menu-btn-container{
    width: 50vw;
  }
  .menu-btn{
    max-width: 70%;
    font-size: calc(9px + 0.8vw);
    margin: 8px;
  }
  .left-navigation, .right-navigation {
    flex: 0.25;
    height: auto;
    max-width: 70px;
    padding: 3px;
    gap: 0px;
  }
  .game-btn{
    width: 80%;
    font-size: calc(6px + 0.8vw);
    padding: 10px;
  }
  .field {
    max-width: 70vw;
  }
  .duplicate {
    width: 45px;
    height: 45px;
  }
}

@media(max-width: 550px) and (orientation: portrait)  {

  .logo-container {
    width: 75vw;
    margin-bottom: 15px;
  }

  .menu-btn-container{
    width: 75vw;
  }
}





@media(max-width: 360px) {
  .menu-btn{
padding: 7px;
margin: 15px;
  }

}


.lives{
  border: 1px solid white;
  border-radius: 20px;
  align-items: center;
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 3px;
  max-width: 80px;
}
.lives img{
  width: 10px;
  height: 10px;
  max-width: 100%;
}