/* *{
    outline: 1px solid black;
} */
:root {
  --field-height: 80vh;
}

.active-container{
  display: flex;
}
.hidden-container {
  display: none;
}

/* ==================================================== */

body{
    background-image: url(../assets/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(3px);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-menu{
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.start-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 80vw;
  height: 100vh;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33vw;
  margin-bottom: 30px;
  outline: none;
  user-select: none;
}
.logo{
  max-width: 100%;
}

.menu-btn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 100%;
  width: 33vw;
}

.container {
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1080px;
    gap: 10px;
    align-items: stretch;
  }

.layout{
  display: none;
  max-width: 700px;
  max-height: 600px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 2s all;
  pointer-events: none;
  z-index: 1;
  position: absolute;
}

  .menu-btn{
    border-radius: 10px;
    border: 2px solid #E9B828;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: 	#5c490e;
    background-color: #D9D9D9;
    transition: .5s all;
    outline: none;
    user-select: none;
    width: 90%;
    max-width: 50%;
    height: auto;
    font-size: calc(2px + 0.8vw);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
  }
  .menu-btn:hover {
    background-color: rgb(44, 139, 12);
    color: 	#ffffff;
    cursor: pointer;
  }
  
  @media (hover: none) and (pointer: coarse) {
    .menu-btn:hover {
      background-color: rgb(178, 243, 157);
      color: 	#e0930d;
    }
  }
  

.menu-timer{
  height: 50px;
  width: 90%;
  text-align: center;
  margin-top: 10px;
}
  
  .field {
    width: 100%;
    flex: 1;
    max-width: 700px;
    height: auto;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
 
  .left-navigation, .right-navigation {
    position: relative;
    flex: 0.25;
    height: auto;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
  }

  .tl-btn {
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
  }

  .evacuator-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 20px;
  }
  .evacuator-block-image {
    width: 50px;
    position: absolute;
    z-index: 10;
  }

  .arrow{
    position: absolute;
    top: 5px;
    display: none;
  }


  .moveArrow{
    animation: animateArrow .8s infinite;
  }
  
  
  @keyframes animateArrow {
    0% { transform: translate(0, 0px); }
    50% { transform:  translate(0, 4px); }
    100% { transform: translate(0, 8px); }
  }


  .blinker {
    animation: blink 0.9s infinite;
  }
  .glow {
    filter: drop-shadow(2px 0px 2px yellow)
  }

  .mainSVG {
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}




@media only screen and (max-height: 500px) and (orientation: landscape) {
  .field {
    max-height: var(--field-height);
  }
  .container{
    padding: 0px 20px 0px 20px;
  }
}

/* @media only screen and (max-height: 900px) and (orientation: landscape) {
  .field {
    max-height: var(--field-height-iPhone);
  }
  .container{
    padding: 0px 20px 0px 20px;
  }
} */

  @media only screen and (min-width: 600px) {
    .orientation-warning{
      display: none;
    }
  }





  @media only screen and (max-width: 600px) and (orientation: portrait)
  /* only screen and (max-width: 800px) and (orientation: landscape)  */
   {
    .orientation-warning {
      display: block;
      text-align: center;
    }
    .container{
      display: none;
    }
  }

  @keyframes blink {
    0% { fill-opacity: 1; }
    25% { fill-opacity: 0.5; }
    50% { fill-opacity: 0; }
    75% { fill-opacity: 0.5; }
    100% { fill-opacity: 1; }
  }


  .motionTrees1 {
    animation: motionTree1 2s steps(4) infinite;
  }
  .motionTrees2 {
    animation: motionTree2 1.5s steps(4) infinite;
  }
  .motionTrees3 {
    animation: motionTree3 2s steps(4) infinite;
  }
  .motionTrees4 {
    animation: motionTree4 1s steps(4) infinite;
  }

   @keyframes motionTree1 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.01) rotate(1deg); }
    50% { transform: scale(1.02) rotate(3deg); }
    75% { transform: scale(1.01) rotate(2deg); }
    100% { transform: scale(1) rotate(0deg); }
  }
  @keyframes motionTree2 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(0.99) rotate(1deg); }
    50% { transform: scale(0.98) rotate(4deg); }
    75% { transform: scale(0.99) rotate(2deg); }
    100% { transform: scale(1) rotate(-1deg); }
  }
  @keyframes motionTree3 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.01) rotate(-1deg); }
    50% { transform: scale(1.02) rotate(-4deg); }
    75% { transform: scale(1.01) rotate(-2deg); }
    100% { transform: scale(1) rotate(0deg); }
  }
  @keyframes motionTree4 {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(0.99) rotate(-1deg); }
    50% { transform: scale(0.97) rotate(-3deg); }
    75% { transform: scale(0.99) rotate(-2deg); }
    100% { transform: scale(1) rotate(0deg); }
  }
  
  
#activeArea{
  position: relative;
  z-index: 20;
}






  /* .img-container {
    width: 50px; 
    height: 50px;
    position: absolute;
    background: url('../assets/treesSpriteTest.png') 0 0 no-repeat;
    background-size: cover;
    animation: spriteAnimationTree 1s steps(7) infinite;
    top: 0;
    left: 0;
  }
  
  
  @keyframes spriteAnimationTree {
      from { background: url('../assets/treesSpriteTest.png') 0 0; }
      to { background: url('../assets/treesSpriteTest.png') 0 -145px; }
  }
   */

/* 
   .img-container {
    width: 50px;
    height: 50px;
    position: absolute;
    background: url('../assets/treesSpriteTest.png') no-repeat;
    background-size: 50px 200px;
    animation: spriteAnimationTree 1s steps(2) infinite;
    top: 0;
    left: 0;
  } */
  
  /* @keyframes spriteAnimationTree {
    0% { background-position: 0 0; }
    25% { background-position: 0 -65px; }
    50% { background-position: 0 -130px; }
    75% { background-position: 0 -65px; }
    100% { background-position: 0 -145px; }
  }
   */


  
  /* @keyframes motionTree {
    0% { transform: translateY(-12px); }
    50% { transform: translateY(-276px); }
    100% { transform: translateY(-12px); }
  }
   */